form{
    border: .5rem solid azure;
    background: rgba(255, 255, 255, 0.85);
    padding: 1rem;
    width: fit-content;
    font-size: large;
}
#PO{
    margin-top: 1rem;
    margin-bottom: 18rem;
    margin-left: 3rem;
    margin-right: 17rem;
}
#CI{
    margin-top: 1rem;
    margin-bottom: 6rem;
    margin-left: 3rem;
    margin-right: 20rem;
}
.maincontain{
    border: .5rem solid green;
    background: url(images/JimHenson.jpg);
    background-size: cover;
    width: fit-content;
}
#directory{
    text-align: center;
    border: .1rem solid black;
    background-color: rgba(211,211,211, 0.8);
    width: fit-content;
    margin-left: 20rem;
    margin-right: 20rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: large;
}
input{
    border: .2rem solid red;
}
.cc{
    width: 2rem;
}
button{
    border: .2rem double black;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 8rem;
    border-radius: .75rem;
}
h1{
    text-decoration: underline;
    color: azure;
    background: rgba(0, 0, 0, .4);
    width: fit-content;
    margin-left: 1rem;
}
label{
    text-decoration: underline;
}
a{
    color: brown;
}
a:after{
    color: beige;
}
a:hover{
    font-size: medium;
}
footer{
    background-color: red;
    border: 1.5rem ridge azure;
    text-align: center;
    padding: 1rem;
}
footer a{
    color: azure;
    font-size: larger;
    font-style: italic;
}