body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.WeatherContainer{
  display: inline-block;
  text-align: center;
  width: 11rem;
  height: 17rem;
  padding: 1rem;
  border: .1rem solid;
}

button{
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  margin: .1rem;
  color: white;
  width: 20rem;
  height: 1.7rem;
  border-radius: .2rem;
  border: .1rem solid;
}
button:active{
  size: .5rem;
}

.buttContainer{
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}

.Cold{
  background-color: rgb(7, 123, 255);
}

.Warm{
  background-color: rgb(33, 187, 33);
}

.Hot{
  background-color: rgb(201, 41, 41);
}

img{

}

.favTemp{
  text-align: center;
}

.favContainer{
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  text-align: center;
}

.forecastContainer{
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
}