body{
    border: 3rem groove brown;
    padding: 1rem;
}
h1{
    text-decoration: underline;
    color: brown;
}
img{
    height: 25rem;
    width: 42rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    border: .75rem double black;
}
button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
#status_display{
    color: red;
    margin-top: .5rem;
}
#json{
    width: 45rem;
}